* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #2b2b2b;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

input {
    border: none;
    outline: none;
    background: none;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

textarea {
    border: none;
    outline: none;
    background: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * WRAPPERS * * * * * * * * * * * * * * * * * * * * * * * * * */

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * BUTTONS * * * * * * * * * * * * * * * * * * * * * * * * * */

.btn-dark {
    background: #2b2b2b;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 1em 2.5em;
    font-weight: 600;
}

.btn-dark:hover {
    background: #1f1f1f;
}

.btn-bars {
    font-size: 22px;
    position: absolute;
    right: 15px;
    display: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HEADER * * * * * * * * * * * * * * * * * * * * * * * * * */

.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 0;
}

.logo {
    width: 100px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;

}

.logo img {
    width: 100%;
}

.search {
    background: #FAFAFA;
    border-radius: 40px;
    height: 40px;
    max-width: 250px;
    width: 100%;
    border: 1px solid #EFEFEF;
    font-size: 14px;
    padding: 10px;
    color: #9B9B9B;
}

.search i {
    margin: 0 10px;
}

.search input::-webkit-input-placeholder {
    color: #9B9B9B;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.search input:-ms-input-placeholder {
    color: #9B9B9B;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.search input::-ms-input-placeholder {
    color: #9B9B9B;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.search input::placeholder {
    color: #9B9B9B;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
}


.language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 15px;
}

.language a {
    font-size: 12px;
    font-weight: 700;
    color: #9B9B9B;
    margin: 0 4px;
}

.language a.active {
    color: inherit;
}

.menu {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    height: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    padding: 5px 15px;
}

.menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fff;
}

.menu ul li {
    padding: 16px;
    color: #2b2b2b;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin: 0 10px;
}

.menu ul li a {
    color: #2b2b2b;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.menu ul li a:hover {
    color: #9B9B9B;
}

.menu .search {
    display: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HERO * * * * * * * * * * * * * * * * * * * * * * * * * */

.hero {
    width: 100%;
    background: url('../images/min/hero-min.jpg') no-repeat center;
    background-size: cover;
}

.hero .wrapper {
    height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.hero-text h1 {
    color: #fff;
    font-size: 42px;
}

.hero-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.hero-text .btn-dark {
    margin-top: 10px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * SHOWCASE * * * * * * * * * * * * * * * * * * * * * * * * * */

.showcase {
    background: #FAFAFA;
    padding: 50px 0;
}

.showcase .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.showcase-categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
}

.showcase-card {
    display: block;
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    margin: 5px;
    height: 300px;
}

.showcase-card-small {
    width: 33%;
}

.showcase-card-middle {
    width: 67%;
}

.showcase-card-long {
    width: 100%;
}

.showcase-card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
    -webkit-filter: brightness(80%);
            filter: brightness(80%);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.showcase-card:hover>img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.showcase-card-text {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    -webkit-text-decoration-color: #fff;
            text-decoration-color: #fff;
    font-size: 42px;
    text-align: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * SIDEBAR * * * * * * * * * * * * * * * * * * * * * * * * * */

.sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30%;
    background: #ECEDED;
    margin: 5px;
    padding: 20px;
}

.sidebar h4 {
    text-transform: uppercase;
    color: inherit;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.sidebar-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 70px;
}

.sidebar-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 15px 0;
}

.sidebar-post-date {
    font-size: 14px;
    color: #9B9B9B;
}

.sidebar-post a {
    font-size: 14px;
    color: inherit;
    text-decoration: underline;
}

.sidebar-news .btn-dark {
    margin-top: 15px;
}

.sidebar-news .btn-dark i {
    margin-left: 2px;
}

.sidebar-map h4 {
    margin-bottom: 20px;
}

.sidebar-map iframe {
    width: 100%;
    height: 300px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * FOOTER * * * * * * * * * * * * * * * * * * * * * * * * * */

.footer {
    background: #2b2b2b;
    padding: 20px 0;
}

.footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer-logo {
    width: 150px;
    height: 150px;
}

.footer-logo img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width: 992px) {
    .showcase-card {
        height: 200px;
    }

    .showcase-card-text {
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) {
    .hero h1 {
        font-size: 36px;
    }

    .menu ul {
        position: absolute;
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        top: 48px;
        left: 0;
        width: 100%;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding-bottom: 50px;
    }

    .btn-bars {
        display: block;
    }

    .showcase-card {
        height: 150px;
    }

    .showcase-card-text {
        font-size: 28px;
    }

    .sidebar .btn-dark {
        padding: 1em;
    }
}

@media screen and (max-width: 576px) {
    .search {
        display: none;
    }

    .menu {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .menu .search {
        display: block;
    }

    .showcase .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .showcase-categories {
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .showcase .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .showcase-card {
        width: 100% !important;
        margin: 5px 0;
    }

    .sidebar {
        margin: 5px 0;
    }
}